.video-popup-modal {
    width: 80vw !important;
    height: 75vh !important;
    .ant-modal-content {
        height: 100%;
        .ant-modal-close-x {
            color: white;
        }
        .ant-modal-body {
            padding: 0;
            height: 100%;
            .video-popup {
                width: 100%;
                height: 100%;
            }
        }
    }
}
