.me__section {
    background: #001232;
    .content__container {
        .me__wrapper {
            display: flex;
            flex-wrap: wrap-reverse;
            margin-right: -15px;
            margin-left: -15px;
            justify-content: center;
            .me__certi {
                margin-top: 50px;
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                .me__certiBox-1 {
                    .me__certiBox-1-body {
                        padding: 30px;
                        border: 1px solid #1a2a47;
                        border-radius: 4px;
                        ul {
                            margin: 0;
                            padding: 0;
                            li {
                                border-bottom: 1px solid #1a2a47;
                                padding: 20px 0;
                                list-style: none;
                                display: flex;
                                flex-wrap: wrap;
                                &:first-child {
                                    padding-top: 0;
                                }
                                &:last-child {
                                    border: none;
                                    padding-bottom: 0;
                                }
                                .img {
                                    width: 55px;
                                    padding-right: 20px;
                                    img {
                                        max-width: 100%;
                                        vertical-align: middle;
                                        border-style: none;
                                    }
                                }
                                .text {
                                    font-weight: 600;
                                    font-size: 18px;
                                    align-self: center;
                                    width: calc(100% - 55px);
                                }
                            }
                        }
                    }
                }
            }
            .me__movieEvent {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}
@media (min-width: 576px) {
    .me__section {
        .me__certi {
            flex: 0 0 83.3333333%;
            max-width: 83.3333333%;
        }
    }
}
@media (min-width: 992px) {
    .me__section {
        .me__certi {
            margin-top: 0 !important;
            flex: 0 0 25%;
            max-width: 25%;
        }
        .me__movieEvent {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }
}
